# ide
.vscode

# user data
/userdata

# debug logs
/logs

# additional optional modules for rasbot
# https://github.com/jack-avery/rasbot-modules
/modules/_additional

# compiler generated
*.spec
/build
/dist
__pycache__