# ide
.vscode

# user data
/userdata

# debug logs
/logs

# additional optional modules for rasbot
# https://github.com/jack-avery/rasbot-modules
/modules/_additional

# updater manifests
/src/manifests/*
!/src/manifests/rasbot.manifest
!/src/manifests/osu.manifest
!/src/manifests/rasbot.manifest.sample

# compiler generated
*.spec
/build
/dist
__pycache__