# config files or otherwise private
_*

# ide
.vscode

# auth & global/private config
/config

# xp storage dbs
/modules/xp_store

# modules configuration
/modules/config

# compiler generated
*.spec
/build
/dist