{
    "version": "1.0.0 -- follow semantic versioning",
    "requirements": "space-separated list of Python requirements"
    "source": "manifest source link -- likely githubusercontent",
    "files": [
        {
            "file": "full path from rasbot root",
            "source": "file source link -- likely githubusercontent"
        },
        {
            ...
        }
    ]
}